# Wi-Fi Credentials
wifi_ssid: "YOUR_WIFI_SSID"
wifi_password: "YOUR_WIFI_PASSWORD"

# MQTT Broker Details
mqtt_broker: "192.168.1.X"      # or "homeassistant.local"
mqtt_user: "YOUR_MQTT_USERNAME"
mqtt_password: "YOUR_MQTT_PASSWORD"

# Holman Device MAC Address (Format: AA:BB:CC:DD:EE:FF)
holman_ble_mac: "F3:61:AC:E8:BB:78"
